
<mat-card *ngIf='allowed' class='center'>
  <div>
      <img *ngIf='snap.picture != null' [src]='snap.picture' (click)='gotoPage(snap)'>
    </div>

    <div class='cont_2'>
     
      <div class='pan_'><div class='seperator'> 
        <h2>Accounting</h2>

        <button class="button" block mat-button>Total Earnings: {{snap.earnings}}</button>
        <button class="button" block mat-button>Maintance: {{snap.earnings*0.1}}</button>
        <button class="button" block mat-button>Referal: {{snap.refEarnings}}</button>
        <button class="button" block mat-button>Driver Share: {{snap.refEarnings + snap.earnings*0.1}}</button>
        <button class="button" block mat-button>Ajetaxi Share: {{snap.earnings - snap.earnings*0.1}}</button>
                  
      </div><h1>₦ {{snap.refEarnings + snap.earnings*0.1}}</h1>
     
     
      <button class="material-icons" block mat-raised-button (click)="openDialog2()">Pay Driver</button>
   

 
      <button class="material-icons" block mat-raised-button (click)="History()">Driver Work History</button>
   

    </div> 
      
      <!-- <div class='pan_'><div class='seperator'> Referal Earnings </div><h1>₦ {{snap.refEarnings}}</h1>
     
        <button class="material-icons" block mat-raised-button (click)="openDialog4()">Pay Driver</button>
    
    </div>  -->
    
      <div class='pan_'><div class='seperator'> Wallet Funds </div><h1>₦ {{snap.funds}}</h1></div>
      </div>

    <div class='cont_1'>
     <div class='pan'><div class='seperator'> Name </div><strong>{{snap.name}}</strong>    </div>
     <div class='pan'><div class='seperator'> License </div><strong>{{snap.license}}</strong>    </div>
     <div class='pan'><div class='seperator'> Phone </div><strong>{{snap.phoneNumber}}</strong>   </div>
     <div class='pan'><div class='seperator'> Bank Account Number </div><strong>{{snap.accountNumber}}</strong>    </div>
     <div class='pan'><div class='seperator'> Bank Name </div><strong>{{snap.Bank}}</strong>    </div>
     <div class='pan'><div class='seperator'> City </div><strong>{{snap.city}}</strong>    </div>
     <div class='pan'><div class='seperator'> Car Model </div><strong>{{snap.carmodel}}</strong>    </div>
     <div class='pan'><div class='seperator'> Driver Rating </div><strong>{{snap.rating}} out of 5</strong>    </div>
    </div>

    
  <!-- <i class="material-icons" (click)="openDialog()">delete</i>
  <i class="material-icons" (click)="Mail(snap.email, snap.name)">mail</i>

  <div class='seperator_Buttons'> Confirm Payment </div>
  <i class="material-icons" (click)="openDialog2()">done</i>

  <div class='seperator_Buttons'> Payment History</div>
  <i class="material-icons" (click)="History()">timer</i>

  <div *ngIf='!snap.blocked' class='seperator_Buttons'>Block This Driver</div>
  <i *ngIf='!snap.blocked' class="material-icons" (click)="Block()">block</i>

  <div *ngIf='snap.blocked' class='seperator_Buttons'>UnBlock This Driver</div>
  <i *ngIf='snap.blocked' class="material-icons" (click)="UnBlock()">forward</i>

    -->
  
  </mat-card>

