
<div>
<mat-card *ngFor="let item of items" class='center'>
  <div class='seperator'> </div><p><strong>{{item.key}}</strong> </p>
  <button block mat-raised-button (click)="Open(item.key)">Open Chat History</button>
</mat-card>
</div>
