<p>
  <div class="form-style-8">
    <p>
   Sharing Formular => {{snap}} percent
  </p>
  </div>
  
  
  <div class="form-style-8">
    <div *ngIf="!submitted">
      <h2>Change Sharing Percentage</h2>
      <form #heroForm="ngForm" (ngSubmit)="onSubmit(heroForm.value)">
        <div class="form-group">
          <label for="name">Sharing Percentage</label>
          <input type="text" class="form-control" name="name" ngModel #name="ngModel" required>
          <div class="alert alert-danger" [hidden]="name.valid || name.pristine">Sharing Percentage is required</div>
        </div>
        <button type="submit" [disabled]="!heroForm.valid">Submit</button>
      </form>
    </div>
    <div *ngIf="submitted">
      <h2>Sharing Percentage Changed Successfully</h2>
    
      <button class='ended' type="submit" (click)="submitted=false">Change Sharing Percentage</button>
    </div>
  </div>
  