<mat-card >
  <div mat-button  (click)="gotoPage()"> PASSENGER FEEDBACKS <p>Reply driver reviews and delete them when done</p></div>
</mat-card>

<mat-card>
  <div mat-button  (click)="gotoPage2()"> DRIVER FEEDBACKS <p>Reply user reviews and delete them when done</p></div>
</mat-card >

