<div>
    <mat-card *ngFor="let item of items" class='center'>
      <div class='seperator'> Date </div><p><strong>{{item.date}}</strong> </p>
      <div class='seperator'> Destination </div><p><strong>{{item.destination}}</strong> </p>
      <div class='seperator'> Location </div><p><strong>{{item.location}}</strong> </p>
      <div class='seperator'> Driver </div><p><strong>{{item.name}}</strong> </p>
      <div class='seperator'> Trip Price </div><p><strong>{{item.price}}</strong> </p>

    </mat-card>
    </div>