

<mat-card *ngIf='allowed'  class='center'>
    <!-- <div>
        <img [src]='snap.picture' (click)='gotoPage(snap.picture)'>

      </div> -->

      <div class='seperator'> Name </div><p><strong>{{snap.name}}</strong></p>
     
      <div class='seperator'> Phone </div><p><strong>{{snap.phoneNumber}}</strong></p>

      <div class='seperator'> Bank </div><p><strong>{{snap.bank}}</strong></p>

      <div class='seperator'> AccountNumber </div><p><strong>{{snap.accountNumber}}</strong></p>

      <div class='seperator'> Referal Earnings </div><p><strong>₦ {{snap.refEarnings}}</strong></p>
     
      <div class='seperator'> History</div>
      <i class="material-icons" (click)="History()">timer</i>

      <div *ngIf='!snap.blocked' class='seperator'>Block This User</div>
  <i *ngIf='!snap.blocked' class="material-icons" (click)="Block()">block</i>

  <div *ngIf='snap.blocked' class='seperator'>UnBlock This User</div>
  <i *ngIf='snap.blocked' class="material-icons" (click)="UnBlock()">forward</i>

    
   
    </mat-card>
  
    