<div>
    <mat-card *ngFor="let item of items" class='center'>
      <div class='seperator'> Date </div><p><strong>{{item.date}}</strong> </p>
      <div class='seperator'> Destination </div><p><strong>{{item.destination}}</strong> </p>
      <div class='seperator'> Location </div><p><strong>{{item.location}}</strong> </p>
      <div class='seperator'> Passenger </div><p><strong>{{item.name}}</strong> </p>
      <div class='seperator'> Trip Price </div><p><strong>{{item.price}}</strong> </p>

      <div *ngIf='item.paid == 1' class='seperator'> Paid Cash </div>
      <div  *ngIf='item.paid == 2' class='seperator'> Paid With Card </div>
    
      <!-- <i class="material-icons" (click)="openDialog(item.key)">delete</i> -->
      <!-- <i class="material-icons" (click)="Mail(item.email)">mail</i> -->
    
    </mat-card>
    </div>