
  
             <div class='cont'>
                <mat-card  class="button_1">
                    <div> APPROVED DRIVERS <h2>{{number_of_drivers}}</h2><p>Drivers approved</p></div>
                </mat-card>
                <mat-card  class="button_3">
                    <div> PASSENGERS <h2>{{number_of_users}}</h2><p>Manage users</p></div>
                </mat-card >
                <mat-card  class="button_2">
                    <div> UNAPPROVED DRIVERS<h2>{{number_of_drivers_waiting}}</h2><p>Awaiting approval</p></div>
               </mat-card>              
                <mat-card  class="button_4">
                    <div> FREE DRIVERS <h2>{{free_driver_num}}</h2><p>Available for a job</p></div>
                </mat-card>
                <mat-card  class="button_5"> 
                    <div> IN PROGRESS <h2>{{run_num}}</h2><p>Number of bookings</p></div>
                </mat-card>
                <mat-card  class="button_6"> 
                    <div> FEEDBACKS <h2>{{feed_num}}</h2><p>Number of feedbacks</p></div>
                </mat-card>
                <mat-card  class="button_6"> 
                  <div> REFERALS <h2>{{shares}}</h2><p>Number of referals</p></div>
              </mat-card>
                <!-- <mat-card  class="button_2"> 
                    <div> London Booking <h2>{{number_of_bookigs}}</h2><p>Number of Bookings</p></div>
                </mat-card> -->
              </div>   
       

      <div class="example-container mat-elevation-z8">
        <h2>Ongoing Trips</h2>
            <mat-table #table [dataSource]="dataSource">
          
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
    
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="car">
                <mat-header-cell *matHeaderCellDef> Car </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.car}} </mat-cell>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="location">
                <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="destination">
                    <mat-header-cell *matHeaderCellDef> Destination </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.destination}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="price">
                        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="drivername">
                            <mat-header-cell *matHeaderCellDef> Driver Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.drivername}} </mat-cell>
                          </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
             
            </mat-table>
            <mat-paginator #paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]"
            [showFirstLastButtons]="true">
</mat-paginator>
          </div>
<!-- </div> -->

<div id="map"></div>
<!-- 
<mat-card class='footer'>
       All Application Statictics in one Place
</mat-card> -->



